html, body {
  margin: 0;
  padding: 0;
  background-image: "screenshots/background.jpeg";
}

h1 {
  text-align: center;
  font-weight: bold;
}

h3 {
  color: darkred;
  font-weight: bold;
  font-family: "ZCOOL XiaoWei";
}

p {
  color: rgb(12, 85, 12);
  background-color: rgb(228, 252, 252);

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}
canvas {
  display: block;
}
