body {
    font-family:  'ZCOOL XiaoWei', serif; 
    color:rgb(203, 187, 227);
    border-color:rgba(149, 149, 149, 0.589);
    background-image: url("/screenshots/background.jpg");
    background-position: 64% 35%;
    text-align: center;
    position: relative;
}
.menubox {
    display: flex;
    font-weight: bold;
    flex-direction:column;
    align-content:space-around;
    align-content: center;
    max-width: 1400px;
    margin: 0;
    border:3px rgb(245, 245, 245);
    gap: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.information {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    left: 0;
    color:rgb(214, 105, 196);
    text-decoration-style: wavy;
    border: auto;
    border-color: rgba(250, 235, 215, 0.811);
    margin: 0;
    justify-self: flex-start;

}
.to_Timer {
    color:white;
    font-size: 200px;
    font-family: 'LIBRARY 3 AM', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    align-content: center;
    place-content: center;
    position: relative;
    top: 300px;
}

#container {
    border-color: transparent;
    color:white;
   position: relative;
   margin: 0;
}

  .layer0 {
    top: 150px;
    left: 15%;
    position: center;
    size: 1000px;
    block-size: 800px;
    border: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index: 1;
  }

  .layer1{
    width:900px;
    height:100px;
    top: 500px;
    left: 16%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index: 1;
  }
  .layer2{
    width:900px;
    color: transparent;
    height:100px;
    top: 570px;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index: 2;
    left:24%;
  }



.semicolon {
    font-size: 40px;
    color:white;
    top: 25%;
    width: 100px;
    margin-top: 330px;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
}