title {
    font-size: xx-large;
    font-weight: bolder;
    color: plum;
    align-self: center;
    top: 100px;
}
body {
    font-family:'Cagliostro', sans-serif;
    color: plum;
    text-align: center;
    background-color: blanchedalmond;;
    
}
.Paragraph {
    align-content: center;
    position: center;
    color: plum;
    text-align: center;
    align-self: center;
    top: 200px;
    margin: 0;
    padding: 0;
    left: 50%;
}

.backpage {
    position: absolute;
    left: 5%;
    size: 50px;
    font-weight: bold;
    appearance: none;
}