
body {
  font-family:  'ZCOOL XiaoWei', serif; 
  color:rgb(57, 57, 57);
  top: 30%;
  position: relative;
  background-size: 1800px 1400px;
  background-repeat: none;
  background-position-y: 40%;
  background-image: linear-gradient(140deg, rgb(252, 140, 159), skyblue);
  margin: 0px;
  border: 5px;
  size: fill;
  padding: 1rem;
  width: 100%;
}

h1.heading {
  margin: 0%;
  height: 50px;
}
.menubox {
  position: relative;
  position: absolute;
  size: 60px;
  right: 5%;
}

.name {
  align-self: absolute;
  text-decoration: none;
  text-align: left;
  position: top;
  margin: 0%;
  border-color:rgb(176, 176, 176);
  border-width: 100%;
  font-size: 30px;
  top: -50px;
  left: 4%;
}

.heading {
  color:white;
  size: 100px;
  height: 100px;
  top: 100px;
  left: 50%;
  align-self: center;
  text-align: center;
}

.layer0 {
  top: 150px;
  position: relative;
  size: 100px;
  color: aqua;
  border: none;
  width: 600px;
  height: 80px;
  top: 5px;
  left: 50%;
  text-align: center;
  margin: 0;
  margin-right: 0%;
}

.paragraph {
  margin-right: 0%;
  font-size: larger;
  color:rgb(48, 55, 86);
}

#playlist {
  position: absolute;
  left: 54%;
  width: 500px;
  top: 300px;
}