body {
    font-family:  'ZCOOL XiaoWei', serif; 
    color:rgb(203, 187, 227);
    border-color:rgba(149, 149, 149, 0.589);
    background-image: url("/screenshots/background.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: 64% 55%;
    text-align: center;
    position: relative;
    text-decoration: none;
}
.menubox {
    display: flex;
    font-weight: bold;
    flex-direction:column;
    align-content:space-around;
    align-content: center;
    max-width: 1400px;
    margin: 0;
    border:3px rgb(245, 245, 245);
    gap: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.introduce {
  top: 140px;
  color:rgb(245, 245, 245);
  font-family: 'LIBRARY 3 AM', sans-serif;
  font-size: 200px;
  align-content: center;
  place-content: center;
  position: relative;
  margin: 60px;
  padding: 0px;
  text-indent: 5px;
}

.information {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    left: 0;
    color:rgb(214, 105, 196);
    text-shadow: 2px 1px 2px pink;
    border: auto;
    border-color: rgba(250, 235, 215, 0.811);
    margin: 0;
    justify-self: flex-start;

}
.to_Timer {
  color:white;
  font-size: 200px;
  font-family: 'LIBRARY 3 AM', sans-serif;
  height: 300px;
  font-weight: bolder;
  align-content: center;
  place-content: center;
  position: relative;
  margin: 50px;
  padding: 0;
  top: 160px;
  text-decoration: none;
}