body {
    font-family:  'ZCOOL XiaoWei', serif;
    color:rgb(203, 187, 227);
    text-shadow: 2px 2px rgba(149, 149, 149, 0.589);
    background-image: linear-gradient(90deg, rgb(192, 255, 194), skyblue);
    background-repeat: no-repeat;
    background-size: 2040px 2000px;
    text-align: center;
    position: relative;
    text-decoration: none;
}
.menubox {
    display: flex;
    font-weight: bold;
    flex-direction:column;
    align-content:space-around;
    align-content: center;
    max-width: 1400px;
    margin: 0;
    border:3px rgb(245, 245, 245);
    gap: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.introduce {
  top: 140px;
  color:rgb(245, 245, 245);
  font-family: 'LIBRARY 3 AM', sans-serif;
  font-size: 100px;
  align-content: center;
  place-content: center;
  position: relative;
  margin: 20px;
  padding: 0px;
  text-indent: 5px;
}

.information {
    position: absolute;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    left: 400;
    color:rgb(214, 105, 196);
    text-shadow: 2px 1px 2px pink;
    border: auto;
    border-color: rgba(250, 235, 215, 0.811);
    margin: 0 auto;
    justify-self: flex-start;
}

.to_Timer {
  color:white;
  font-size: 230px;
  font-family: 'LIBRARY 3 AM', sans-serif;
  height: 300px;
  font-weight: bolder;
  align-content: center;
  place-content: center;
  position: relative;
  margin: 0px;
  padding: 0;
  top: 160px;
  text-decoration: none;
}
.to_Timer {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.to_Timer::before,
.to_Timer::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.to_Timer::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.to_Timer::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}
.to_Timer:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.to_Timer:hover::after {
  transform: translate3d(0, 0, 0);
}
.to_Timer span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.to_Timer:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* From uiverse.io */
button {
  position: absolute;
  left: 45%;
  top: 150%;

  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }

 button.learn-more {
  width: 12rem;
  height: auto;
 }

 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #6307a5;
  border-radius: 1.625rem;
 }

 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }

 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }

 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }

 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #6307a5;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }

 button:hover .circle {
  width: 100%;
 }

 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }

 button:hover .button-text {
  color: #fff;
 }
